@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700|Work+Sans:300,500')

html
  box-sizing: border-box
  text-rendering: optimizeLegibility

body
  display: block
  position: relative
  color: #f6f9fc
  background-color: #000
  font-family: 'Work Sans', sans-serif
  font-size: 1rem
  line-height: 1.5

h1
  font-family: 'Space Mono', sans-serif

a
  text-decoration: none
