$on-container: #d2e5f4
$container: #374955

#main
  margin: 0 auto
  width: 700px

#title-container
  display: block
  position: relative
  margin: 10px 0
  padding: 15px 20px
  border-radius: 4px
  line-height: 1

#title
  margin: 0
  color: #f6f9fc

#content
  padding: 15px 20px
  background-color: $on-container&aa
  border-radius: 4px

